
* {
    margin: 0;
    padding: 0;
}

body {
    /* --font: Arial; */
    --paddingsp: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul li {
    padding: 1rem;
}


/* section classes */

.introduction {
    position: relative;
    background-image: url(pexels-ilham-izzul-1328879.jpg);
    width: auto;
    height:calc(100%/2.25);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.main {
    position: relative;
    background-image:linear-gradient(white, rgba(0, 0, 0, 0.5)), url(pexels-jeremy-bishop-2923594.jpg);
    width: auto;
    height:calc(100%/2.25);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;
    align-items: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

@media screen and (max-width: 480px) {
    .footer {
    justify-content: center;
    }

}

.heading {
    position: relative;
    display: flex;
    width: 100%;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    color: #434343;
}

/* @media screen and (max-width: 480px) {
    .heading {
        background-color: blue;
    }
} */

.test {
    display: flow-root;
}


/* within the main body of thesite these allow the text to float around the image */
.mount_image {
float: right;
shape-outside: url(pexels-valdemaras-d-1647972-Recovered.png);
z-index: 1;
shape-margin: 2rem;
}

/* this is commented out because I had switched the areas wher the explanination was */

.person-image {
float: left;
width: 20rem;
shape-outside: url(bonsai-tree.png);
z-index: 1;
aspect-ratio: 1;
shape-margin: 2rem;
}

.test_para {
margin: 0 4rem;
color: #434343;
align-content: center;
}

.test_para p {
margin: 2em 0;
}


.socail nav ul {
    display: flex;
    justify-content: center;
}
    
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.title div {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

#logo_h {
    width: 10rem;
    margin: 0 3rem;
}

@media screen and (width: 480px) {
    #logo_h {
        margin: 0;
        background: red;
    }

}

.container {
    position: absolute;
    display: flex;
    width: 33%;
    height: 100%;
    --mask: linear-gradient(150deg, rgba(249, 249, 249, 0.001), rgba(0, 0, 0, 0.7));
    /* background: var(--mask); */
    box-shadow: 0 100px 50px 50px rgba(0, 0, 0, 0.2);
    z-index: -2;
}

.wall {
    width: 100%;
    height: 100%;
    z-index: -3;
    color: #fff;        
}

li {
    text-decoration: none;
}

.wall {
    --dotSize: 0.25rem;
    --stop1: 3%;
    --stop2: 70%; 

    aspect-ratio: 1;
    position: relative;
    background: rgb(0, 0, 0);
    filter: contrast(20) invert(0);
    mix-blend-mode: screen; 
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.wall::after {
    /* Cover our element */
    content: '';
    position: absolute;
    inset: 0;

    /* Dotted background */
    background-image: radial-gradient(
        circle at center,
        rgb(255, 255, 255) var(--stop1),
        transparent var(--stop2)
    ),
    radial-gradient(
        circle at center,
        rgb(255, 255, 255) var(--stop1),
        transparent var(--stop2)
    );
    /* Makes the dots get smaller */
    -webkit-mask-image: var(--mask);    
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;
}

.wall p {
    padding: 2rem;
    height: fit-content;
}

/* Creates a two tone icon */
.modal-icon {
    position: absolute;
    background: yellow;
    width: 200px;
    height: 200px;
    top: 60%;
    clip-path: polygon(74% 0%, 77% 32%, 100% 53%, 67% 100%, 0 77%, 15% 0%);
    transform: rotateY(0deg);  
}

.modal-icon :last-child{
    position: relative;
    background: cyan;
    width: 175px;
    height: 175px;
    clip-path: polygon(25% 2%, 96% 10%, 100% 90%, 75% 100%, 25% 100%, 6% 80%, 10% 20%);  
}

#about_me .test_para {
    padding: 4rem 0 0 0;
}

.deck {
    position: relative;
    display: flex; 
    flex-direction: column; 
    width: auto;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    padding: 1rem 0 0 0;
}
    
/* Creates a background effect of shadows and colors */
/* .card::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: palevioletred;
    z-index: -100;
    transform: rotate(-4deg) skew(10deg);
} */

/* .card::after {
    content: "";
    position: absolute;
    left: 10%;
    right: 0;
    top: 0;
    bottom: 0;
    background: lightseagreen;
    width: 100%;
    height: 107%;
    z-index: -101;
    clip-path: polygon(0 0, 100% 0, 100% 150%, 0 150%);
    transform: rotate(11deg) skewX(-9deg);
} */

/* .card img {
    max-height: 100%;
        Maintains the correct proportions of a photo
    aspect-ratio: 1;
    
} */

.card button{
    width: fit-content;
    margin: 1rem;
    align-self: center;
    background: none;
}

.explanation {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    color: #434343;
    border-left: solid 1px #434343;
}

.explanation p, .explanation h1 {
    padding: 1rem 2rem;
}

/* .explanation h1 {
    padding: 1rem rem;
} */

.billboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}

.deck-info{
    display: flex;
    justify-content: center; 
    color: #fff;
    font-size: 3rem;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    margin: 5rem;
}

#cta_blog {
    color: #434343;
}

.holder div {
    padding: 1rem 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


.languages ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
}

.languages img {
    width: 2rem;
}

.social li img{
    width: 2rem;
}

.holder button {
    background-color: teal;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
}



#footer_logo {
    padding: 0 3rem;
    width: 5rem;
}

@media screen and (max-width: 480px) {
    #footer_logo {
    padding: 1em;
    width: 5rem;
    }

    #logo_h {
    margin: 0;
    }

    .billboard {
        justify-content: center;
    }
    #cta_blog {
        margin: 2rem;
        font-size: 2rem;
        color: #fff;
    }

    .card {
        flex-direction: column;
    }

    .explanation {
        align-items: center;
        margin: 2rem;
        border: none;
    }

    .card img {
        aspect-ratio: 1;
        margin: 2rem 0 0 0 ;
    }

    .test img {
        position: absolute;
        width: 175%;
        /* height: 60rem; */
        /* aspect-ratio: 5/ 13; */
        /* z-index: -1; */
        -webkit-filter: blur(4px) ;
        object-fit: cover;
    }
    
    .test {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: teal;
        overflow: hidden;
        
    }

    .test_para {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2rem 0;
        color: #fff;
    }

    #about_me {
        position: relative;
        background:white
        /* url(pictures/pexels-valdemaras-d-1647972.webp) */
        ;
        background-size: cover;
        /* filter: blur(3px); */
        
        color:#fff
    }

    #about_me .test_para {
        position: relative;
        color: black;
        z-index: 5;
        filter: blur(-10px);
    }

    .deck-info {
       margin: 3rem;
    }

    body {
        margin: 0;
        width: 100%;
    }
}
